@font-face {
  font-family: 'Gilroy-Bold';
  src: url('Gilroy-Bold.svg#Gilroy-Bold') format('svg'),
       url('Gilroy-Bold.ttf') format('truetype'),
       url('Gilroy-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-bold';
  src: url('gilroy-bold.eot');
  src: url('gilroy-bold.eot?#iefix') format('embedded-opentype'),
       url('gilroy-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

